body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'Helvetica';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
}

.page-header {
  min-height: 100px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: rgb(241, 241, 241);
  box-shadow: 0px -2px 5px 4px rgba(168,166,168,1);
  box-sizing: border-box;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

.wrapper {
  margin: 0 50px;
  padding: 0;
}

.buttons {
  position: relative;
  min-width: 200px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.btn {
  height: 30px;
  margin: 0;
  padding: 5px 10px;
  color: #ffffff;
  text-shadow: 0px 1px 1px #00468e;
  font-family: 'Helvetica';
  font-size: 14px;
  background-color: rgb(0, 103, 209);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1.5px 2px 0px #b4babe;
}

.btn:hover {
  cursor: pointer;
}

.btn:first-child {
  margin-right: 8px;
}

.to-add__pushed {
  color: #9cb1d1;
  text-shadow: 0px 1px 1px #00458c;
  background-color: #0055ac;
  box-shadow: inset 0px 1px 2px 1px #00337a;
}

.page-header__search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loupe {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.search {
  -webkit-appearance: none;
  display: block;
  width: 260px;
  margin: 0;
  padding: 5px 10px;
  font-family: 'Helvetica';
  font-size: 14px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 1px 3px 1px rgba(168,166,168,1);
}

.search::placeholder {
  color: rgb(209, 209, 209);
}

.page-main {
  position: relative;
}

.date-navigation {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.today-month__date {
  width: 130px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
}

.small-btn {
  border: none;
  border-radius: 4px;
  color: #868686;
  font-family: 'Helvetica';
  line-height: 15px;
  text-align: center;
  vertical-align: center;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 2px 1px rgba(168,166,168,1);
  cursor: pointer;
}

.next-month {
  margin-right: 10px;
}

.that-month {
  cursor: pointer;
}

.month {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 500px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.week {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid rgb(237, 237, 237);
  border-top: 1px solid rgb(237, 237, 237);
  border-bottom: none;
}

.week:first-child {
  border-top: 2px solid rgb(237, 237, 237);
}

.week:last-child {
  border-bottom: 2px solid rgb(237, 237, 237);
}

.day {
  min-width: 140px;
  min-height: 140px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  border-left: 1px solid rgb(237, 237, 237);
  box-sizing: border-box;
}

.day:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 2px rgb(106, 185, 249);
}

.day:first-of-type {
  border-left: none;
}

.empty-day:hover,
.prev-day:hover {
  cursor: auto;
  box-shadow: none;
}

.day-number,
.event {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 10px;
  color: rgb(173, 173, 173);
  box-sizing: border-box;
}

.event {
  padding-top: 5px;
  font-weight: bold;
}

.that-day {
  font-weight: bold;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(236, 236, 236);
}

.checked {
  background-color: rgb(227, 241, 251);
}

.modal {
  position: absolute;
  top: 10px;
  left: 500px;
  width: 280px;
  height: 340px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffffff;
  border: none;
  border-radius: 1px;
  box-shadow: 0 1px 4px 2px rgba(168,166,168,1);
}

.modal-add-note {
  top: -22px;
  left: 51px;
  width: 280px;
  height: 80px;
}

.modal-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cloud,
.cloud::before,
.cloud::after {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border: none;
}

.cloud {
  margin: 0;
  padding: 0;
  background-color: none;
}

.cloud::before,
.cloud::after {
  content: '';
  background-color: #ffffff;
}

.cloud::before {
  box-shadow: 0 1px 4px 2px rgba(168,166,168,1);
  transform: rotate(45deg);
}

.cloud::after {
  width: 20px;
  height: 50px;
}

.modal-cloud-left {
  top: 0;
  left: 0;
}

.modal-cloud-left::before {
  top: 3px;
  left: -32px;
}

.modal-cloud-left::after {
  top: -20px;
  left: -25px;
}

.modal-cloud-right {
  top: 0;
  left: 329px;
}

.modal-cloud-right::before {
  top: 3px;
  left: -32px;
}

.modal-cloud-right::after {
  top: -20px;
  left: -44px;
}

.modal-cloud-top {
  top: 0;
  left: 30px;
}

.modal-cloud-top::before {
  top: -7px;
  left: 0;
}

.modal-cloud-top::after {
  top: -15px;
  left: 0;
  transform: rotate(90deg);
}

.modal-close,
.modal-close::before,
.modal-close::after {
  position: absolute;
  display: block;
}

.modal-close {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

.modal-close:hover {
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: '';
  right: 1px;
  width: 9px;
  height: 1px;
  background-color: #707070;
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.close-event {
  top: -14px;
  right: -16px;
}

.input-wrapper {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.input-event {
  -webkit-appearance: none;
  width: 260px;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px 10px;
  font-family: 'Helvetica';
  font-size: 14px;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0px 1px 3px 1px rgba(168,166,168,1);
}

.input-event:last-of-type {
  margin-bottom: 0;
}

.input-event::placeholder {
  color: rgb(215, 215, 215);
}

.form-buttons {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.btn-out:first-child {
  margin-right: 10px;
}

.close-add {
  top: 8px;
  right: 8px;
}

.btn-add {
  margin-top: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
