body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
}

.page-header {
  min-height: 100px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 60px;
  background-color: rgb(241, 241, 241);
  box-shadow: 0px -2px 5px 4px rgba(168,166,168,1);
  box-sizing: border-box;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper {
  margin: 0 50px;
  padding: 0;
}

.buttons {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.btn {
  margin: 0;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 14px;
  background-color: rgb(0, 103, 209);
  border: none;
  border-radius: 5px;
}

.btn:first-child {
  margin-right: 8px;
}

.date-navigation {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.today-month__date {
  width: 120px;
  margin: 0;
  padding: 0 10px;
  font-size: 18px;
  text-align: center;
}

.month {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 500px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.week {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid rgb(237, 237, 237);
  border-top: 1px solid rgb(237, 237, 237);
  border-bottom: none;
}

.week:first-child {
  border-top: 2px solid rgb(237, 237, 237);
}

.week:last-child {
  border-bottom: 2px solid rgb(237, 237, 237);
}

.day {
  min-width: 160px;
  min-height: 120px;
  margin: 0;
  padding: 0;
  border-left: 1px solid rgb(237, 237, 237);
  box-sizing: border-box;
}

.day:first-of-type {
  border-left: none;
}

.description {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 10px;
  color: rgb(173, 173, 173);
  box-sizing: border-box;
}

.first-day {

}

.small-btn {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 2px 1px rgba(168,166,168,1);
}

.next-month {
  margin-right: 10px;
}
